/* Level definitions */
div.mod_dms tr.category td.category_name:before, 
div.mod_dms tr.document td.document_link:before {
	font-family: verdana;
	font-weight: bold;
	font-size: 18px;
	color: #afafaf;
	content: "L ";
}
div.mod_dms tr.document td.document_link:before {
	color: #A84204;
}
div.mod_dms tr td.category_name {
	font-weight: bold;
}
div.mod_dms tr td.document_description {
	height: 20px;
	padding: 0;
	font-style: italic;
	font-size: 95%;
}
div.mod_dms tr.level_0 td.category_name {
	padding-left: 0px;
}
div.mod_dms tr.level_0 td.document_link,
div.mod_dms tr.level_0 td.category_description {
	padding-left: 20px;
}
div.mod_dms tr.level_0 td.document_description {
	padding-left: 40px;
}
div.mod_dms tr.level_1 td.category_name {
	padding-left: 20px;
}
div.mod_dms tr.level_1 td.document_link,
div.mod_dms tr.level_1 td.category_description {
	padding-left: 40px;
}
div.mod_dms tr.level_1 td.document_description {
	padding-left: 60px;
}
div.mod_dms tr.level_2 td.category_name {
	padding-left: 40px;
}
div.mod_dms tr.level_2 td.document_link,
div.mod_dms tr.level_02 td.category_description {
	padding-left: 60px;
}
div.mod_dms tr.level_2 td.document_description {
	padding-left: 80px;
}
div.mod_dms tr.level_3 td.category_name {
	padding-left: 60px;
}
div.mod_dms tr.level_3 td.document_link,
div.mod_dms tr.level_3 td.category_description {
	padding-left: 80px;
}
div.mod_dms tr.level_3 td.document_description {
	padding-left: 100px;
}
div.mod_dms tr.level_4 td.category_name {
	padding-left: 80px;
}
div.mod_dms tr.level_4 td.document_link,
div.mod_dms tr.level_4 td.category_description {
	padding-left: 100px;
}
div.mod_dms tr.level_4 td.document_description {
	padding-left: 120px;
}
div.mod_dms tr.level_5 td.category_name {
	padding-left: 100px;
}
div.mod_dms tr.level_5 td.document_link,
div.mod_dms tr.level_5 td.category_description {
	padding-left: 120px;
}
div.mod_dms tr.level_5 td.document_description {
	padding-left: 140px;
}
div.mod_dms tr.level_6 td.category_name {
	padding-left: 120px;
}
div.mod_dms tr.level_6 td.document_link,
div.mod_dms tr.level_6 td.category_description {
	padding-left: 140px;
}
div.mod_dms tr.level_6 td.document_description {
	padding-left: 160px;
}

/* general definitions */
div.mod_dms thead tr th {
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
	font-weight: bold;
	line-height: 20px;
}
div.mod_dms tbody td {
	height: 30px;
}
div.mod_dms tfoot tr:first-child td {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-top: 1px solid #000000;
}
div.mod_dms tr.category:hover td {
	background-color: #efefef;
}
div.mod_dms .centered {
	text-align: center;
}
div.mod_dms .label {
	font-weight: bold;
	padding-right: 5px;
}
div.mod_dms .headline {
	font-style: italic;
}
div.mod_dms td.button {
	padding-left: 5px;
	padding-right: 5px;
}
div.mod_dms_management tr td.no_right {
	font-weight: bold;
	color: #ff0000;
}
div.mod_dms tr.category.locked td.category_name,
div.mod_dms tr.category.locked td.category_filecount {
	color: #fba124 !important;
	height: 15px !important;
	font-size: 10px !important;
}
div.mod_dms tr.category.empty td.category_name,
div.mod_dms tr.category.empty td.category_filecount {
	color: #d0d0d0 !important;
	height: 15px !important;
	font-size: 10px !important;
}
div.mod_dms tr.category.locked.empty td.category_name,
div.mod_dms tr.category.locked.empty td.category_filecount {
	color: #dada16 !important;
	height: 15px !important;
	font-size: 10px !important;
}
div.mod_dms #dms_errors {
	border: 1px solid #ff0000;
	margin-bottom: 10px;
	padding: 5px;
}
div.mod_dms #list_search > div {
	margin-bottom: 10px;
}
div.mod_dms #list_search input,
div.mod_dms #list_search select {
	width: 140px;
}
div.mod_dms #list_search #searchText {
	width: 135px;
}

